.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.main {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}